@keyframes slideInLeft {
  0% {
    transform: translateX(-100%) translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(90px);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%) translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(90px);
    opacity: 1;
  }
}
